---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="min-h-screen flex flex-col items-center">
		<h1 class="mt-24 text-center font-[Space_Grotesk] text-6xl md:text-8xl lg:text-9xl font-bold tracking-tight text-neutral-900 leading-none">
			Pierre-Olivier<br />ROUX-SAVELLI
		</h1>
	</main>
</Layout>
