---
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
	<section class="flex flex-col items-center">
		<h1 class="mt-20 text-left font-[Montaga] text-4xl md:text-6xl lg:text-8xl font-normal tracking-tight text-neutral-900 leading-none">
			Pierre-Olivier  ROUX-SAVELLI
		</h1>
		<p class="mt-8 max-w-2xl font-[Montaga] text-lg md:text-xl text-neutral-600 leading-relaxed">
			Ingénierie - Design Produit -  Dévelopment web - Électronique - VR
		<Marquee />
	</section>
	<Projects />
</Layout>
